<div class="overlay" *ngIf="loading">
    <div class="center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</div>
<ng-container [formGroup]="form">
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Tipologia</mat-label>
        <mat-select formControlName="type" (selectionChange)="changedTipologiaEsperto(form, $event)">
            <mat-option>Nessuna</mat-option>
            <mat-option *ngFor="let tipologia of tipologie" [value]="tipologia.value">
                {{tipologia.name}}
            </mat-option>
        </mat-select>
        <mat-error>{{getErrorMessage(form.get('type'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Genere</mat-label>
        <mat-select formControlName="gender">
            <mat-option>----</mat-option>
            <mat-option *ngFor="let gender of generi" [value]="gender.value">
                {{gender.name}}
            </mat-option>
        </mat-select>
        <mat-error>{{getErrorMessage(form.get('gender'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Cognome</mat-label>
        <input formControlName="last_name" matInput type="text">
        <mat-error>{{getErrorMessage(form.get('last_name'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Nome</mat-label>
        <input formControlName="first_name" matInput type="text">
        <mat-error>{{getErrorMessage(form.get('first_name'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Codice fiscale</mat-label>
        <input formControlName="fiscal_code" matInput type="text" oninput="this.value = this.value.toUpperCase()">
        <button mat-icon-button matSuffix matTooltip="Compila i campi mancanti con i propri dati"
            (click)="autocomplete()" [disabled]="checkFiscalCode()">
            <mat-icon>post_add</mat-icon>
        </button>
        <mat-error>{{getErrorMessage(form.get('fiscal_code'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Titolo professionale</mat-label>
        <mat-select formControlName="professional_title">
            <mat-option>----</mat-option>
            <mat-option *ngFor="let titolo of titoli_professionali" [value]="titolo">
                {{titolo | titlecase}}
            </mat-option>
        </mat-select>
        <mat-error>{{getErrorMessage(form.get('professional_title'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Partita IVA</mat-label>
        <input formControlName="vat" matInput type="text">
        <!-- <button mat-icon-button matSuffix matTooltip="Compila i campi mancanti con i propri dati"
            (click)="autocomplete()" [disabled]="checkVat()">
            <mat-icon>post_add</mat-icon>
        </button> -->
        <mat-error>{{getErrorMessage(form.get('vat'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Ragione sociale</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error>{{getErrorMessage(form.get('name'))}}</mat-error>
    </mat-form-field>
    <ng-container formGroupName="address">
        <!-- <mat-form-field class="div-a-third" appearance="outline">
            <mat-label>Stato</mat-label>
            <mat-select formControlName="country"
                (selectionChange)="onChangeCountry('address/country', 'address/county')">
                <mat-option>----</mat-option>
                <mat-option *ngFor="let nazione of nazioni" [value]="nazione">
                    {{nazione.name}}
                </mat-option>
            </mat-select>
            <mat-error>{{getErrorMessage(form.get('address').get('country'))}}</mat-error>
        </mat-form-field> -->
        <mat-form-field class="div-half" appearance="outline">
            <mat-label>Provincia di residenza</mat-label>
            <mat-select formControlName="county" (selectionChange)="onChangeProvince('address/county', 'address/city')">
                <mat-option>----</mat-option>
                <mat-option *ngFor="let provincia of province" [value]="provincia.code">
                    {{provincia.name}}
                </mat-option>
            </mat-select>
            <mat-error>{{getErrorMessage(form.get('address').get('county'))}}</mat-error>
        </mat-form-field>
        <mat-form-field class="div-half" appearance="outline">
            <mat-label>Comune di residenza</mat-label>
            <mat-select formControlName="city" [disabled]="checkValidation(['address/county'])">
                <mat-option>----</mat-option>
                <mat-option *ngFor="let comune of comuni[toCamelCase('address/city')] || []" [value]="comune.code">
                    {{comune.name}}
                </mat-option>
            </mat-select>
            <mat-error>{{getErrorMessage(form.get('address').get('city'))}}</mat-error>
        </mat-form-field>
        <mat-form-field class="div-two-thirds" appearance="outline">
            <mat-label>Indirizzo di residenza</mat-label>
            <input formControlName="street_name" matInput type="text">
            <mat-error>{{getErrorMessage(form.get('address').get('street_name'))}}</mat-error>
        </mat-form-field>
        <mat-form-field class="div-a-third" appearance="outline">
            <mat-label>Cap di residenza</mat-label>
            <input formControlName="postcode" matInput type="text">
            <mat-error>{{getErrorMessage(form.get('address').get('postcode'))}}</mat-error>
        </mat-form-field>
    </ng-container>
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Telefono</mat-label>
        <input formControlName="phone" matInput type="text">
        <mat-error>{{getErrorMessage(form.get('phone'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email">
        <mat-error>{{getErrorMessage(form.get('email'))}}</mat-error>
    </mat-form-field>
    <mat-expansion-panel [disabled]="!formContacts.enabled" formArrayName="contacts"
        [expanded]="formContacts.enabled && formContacts.controls.length > 0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Contatti
            </mat-panel-title>
            <mat-panel-description>
                Lista contatti
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card class="array-list" *ngFor="let contatto of formContacts.controls; let i = index;" [formGroupName]="i">
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="type">
                    <mat-option>Nessuna</mat-option>
                    <mat-option *ngFor="let type of tipologie_contatto" [value]="type.value">
                        {{type.name}}
                    </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(formContacts.controls[i].get('type'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Nome referente</mat-label>
                <input formControlName="name" matInput type="text">
                <mat-error>{{getErrorMessage(formContacts.controls[i].get('name'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input formControlName="phone" matInput type="text">
                <mat-error>{{getErrorMessage(formContacts.controls[i].get('phone'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email">
                <mat-error>{{getErrorMessage(formContacts.controls[i].get('email'))}}</mat-error>
            </mat-form-field>
            <button class="button-delete" mat-mini-fab color="warn" (click)="removeItem(formContacts, i);">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card>
        <div class="div-full">
            <button class="button-add" mat-raised-button color="primary"
                (click)="addContatto(form.get('contacts'));">Aggiungi</button>
        </div>
    </mat-expansion-panel>
    <mat-error>{{getErrorMessage(form)}}</mat-error>
</ng-container>