<div class="overlay" *ngIf="loading">
    <div class="center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</div>
<mat-expansion-panel [disabled]="!form.enabled" [formGroup]="form" class="referente-group" [expanded]="form.enabled">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Impresa
        </mat-panel-title>
        <mat-panel-description>
            Informazioni dell'impresa adetta ai lavori
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Ragione sociale</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error>{{getErrorMessage(form.get('name'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Partita IVA</mat-label>
        <input formControlName="vat" matInput type="text">
        <mat-error>{{getErrorMessage(form.get('vat'))}}</mat-error>
    </mat-form-field>
    <ng-container formGroupName="address">
        <mat-form-field class="div-half" appearance="outline">
            <mat-label>Provincia</mat-label>
            <mat-select formControlName="county" (selectionChange)="onChangeProvince('address/county', 'address/city')">
                <mat-option>----</mat-option>
                <mat-option *ngFor="let provincia of province" [value]="provincia.code">
                    {{provincia.name}}
                </mat-option>
            </mat-select>
            <mat-error>{{getErrorMessage(form.get('address').get('county'))}}</mat-error>
        </mat-form-field>
        <mat-form-field class="div-half" appearance="outline">
            <mat-label>Comune</mat-label>
            <mat-select formControlName="city" [disabled]="checkValidation(['address/county'])">
                <mat-option>----</mat-option>
                <mat-option *ngFor="let comune of comuni[toCamelCase('address/city')] || []" [value]="comune.code">
                    {{comune.name}}
                </mat-option>
            </mat-select>
            <mat-error>{{getErrorMessage(form.get('address').get('city'))}}</mat-error>
        </mat-form-field>
        <mat-form-field class="div-two-thirds" appearance="outline">
            <mat-label>Indirizzo</mat-label>
            <input formControlName="street_name" matInput type="text">
            <mat-error>{{getErrorMessage(form.get('address').get('street_name'))}}</mat-error>
        </mat-form-field>
        <mat-form-field class="div-a-third" appearance="outline">
            <mat-label>Cap</mat-label>
            <input formControlName="postcode" matInput type="number">
            <mat-error>{{getErrorMessage(form.get('address').get('postcode'))}}</mat-error>
        </mat-form-field>
    </ng-container>
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Telefono</mat-label>
        <input formControlName="phone" matInput type="text">
        <mat-error>{{getErrorMessage(form.get('phone'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email">
        <mat-error>{{getErrorMessage(form.get('email'))}}</mat-error>
    </mat-form-field>
    <mat-expansion-panel formArrayName="contacts" [expanded]="formContacts.controls.length > 0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Contatti
            </mat-panel-title>
            <mat-panel-description>
                Lista contatti
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card class="array-list" *ngFor="let contatto of formContacts.controls; let i = index;" [formGroupName]="i">
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="type">
                    <mat-option>Nessuna</mat-option>
                    <mat-option *ngFor="let type of tipologie_contatto" [value]="type.value">
                        {{type.name}}
                    </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(formContacts.controls[i].get('type'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Nome referente</mat-label>
                <input formControlName="name" matInput type="text">
                <mat-error>{{getErrorMessage(formContacts.controls[i].get('name'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input formControlName="phone" matInput type="text">
                <mat-error>{{getErrorMessage(formContacts.controls[i].get('phone'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email">
                <mat-error>{{getErrorMessage(formContacts.controls[i].get('email'))}}</mat-error>
            </mat-form-field>
            <button class="button-delete" mat-mini-fab color="warn" (click)="removeItem(formContacts, i);">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card>
        <div class="div-full">
            <button class="button-add" mat-raised-button color="primary"
                (click)="addContatto(form.get('contacts'));">Aggiungi</button>
        </div>
    </mat-expansion-panel>
    <mat-error>{{getErrorMessage(form)}}</mat-error>
</mat-expansion-panel>