<mat-nav-list class="div-full list-element" *ngIf="documents.length > 0">
    <p>Documenti caricati:</p>
    <ng-container  *ngFor="let file of documents">
        <mat-list-item >
            <mat-icon mat-list-icon>description</mat-icon>
            <p matLine >Nome: {{ file.name }}</p>
            <p matLine >Tipo: {{ file.type }}</p>
            <!-- <button mat-icon-button (click)="removeFile(file.id)">
                <mat-icon>cancel</mat-icon>
            </button> -->
            <mat-divider></mat-divider>
        </mat-list-item>
    </ng-container>
</mat-nav-list>
<p *ngIf="documents.length == 0">Nessun documento caricato</p>
