<div class="overlay" *ngIf="loading">
    <div class="center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</div>
<form [formGroup]="form">
    <owner [form]="form.get('owner')" [tipologie]="tipologie" [generi]="generi"
        [tipologie_contatto]="tipologie_contatto" [province]="province" [nazioni]="nazioni"
        [tipi_documento]="tipi_documento"></owner>
    <div class="div-radio-group" [hidden]="form.get('qualification').disabled">
        <mat-label>Rappresentata da:</mat-label>
        <mat-radio-group formControlName="qualification" class="vertical-radiobutton"
            (change)="changeQualification($event, form.get('business_administrator'))">
            <ng-container *ngFor="let qualification of qualifiche">
                <mat-radio-button [value]="qualification.value">{{qualification.name}}</mat-radio-button>
            </ng-container>
        </mat-radio-group>
        <mat-error>{{getErrorMessage(form.get('qualification'))}}</mat-error>
    </div>
    <administrator [hidden]="form.get('business_administrator').disabled" [form]="form.get('business_administrator')" [generi]="generi"
        [titoli_professionali]="titoli_professionali" [tipologie_contatto]="tipologie_contatto" [province]="province">
    </administrator>
    <experts [hidden]="form.get('experts').disabled" [form]="form.get('experts')" [tipologie]="tipologie" [generi]="generi"
        [tipologie_contatto]="tipologie_contatto" [titoli_professionali]="titoli_professionali" [province]="province"
        [nazioni]="nazioni">
    </experts>
    <div class="div-radio-group">
        <mat-label>Esecuzione dei lavori:</mat-label>
        <mat-radio-group formControlName="work_supplier" class="vertical-radiobutton"
            (change)="changeEsecutore($event, form.get('supplier_business'))">
            <ng-container *ngFor="let esecutore of esecutori">
                <mat-radio-button [value]="esecutore.value">{{esecutore.name}}</mat-radio-button>
            </ng-container>
        </mat-radio-group>
        <mat-error>{{getErrorMessage(form.get('work_supplier'))}}</mat-error>
    </div>
    <supplier [form]="form.get('supplier_business')" [tipologie_contatto]="tipologie_contatto" [province]="province">
    </supplier>
    <ng-container detailsPratiche [modulo]="modulo" [form]="form.get('details')"></ng-container>
    <mat-card>
        <mat-card-subtitle>
            <mat-icon color="warn" style="vertical-align: bottom;">info</mat-icon>
            E’ necessario conservare la marca da bollo per poi apporla all’eventuale autorizzazione. L’autorizzazione si
            intendera’ automaticamente revocata nel caso in cui il numero della marca da bollo inserita non
            corrispondera’ al numero della marca da bolla apposta all’eventuale autorizzazione. La mancata apposizione
            della marca da bollo rendera’ inefficace l’eventuale autorizzazione.
        </mat-card-subtitle>
        <mat-card-content>
            <mat-form-field class="div-full" appearance="outline">
                <mat-label>Marca da bollo</mat-label>
                <input formControlName="stamp_number" matInput type="text">
                <mat-hint>Inserire il codice della marca da bollo</mat-hint>
                <mat-error>{{getErrorMessage(form.get('stamp_number'))}}</mat-error>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <button class="button-login" mat-raised-button color="primary" (click)="submit()">Convalida</button>
</form>
<mat-error *ngIf="error">{{errormessage}} -- {{errorcode}}</mat-error>
<mat-error *ngIf="error">
    <mat-list *ngFor="let error of errors">
        <p matLine>{{error}}</p>
    </mat-list>
</mat-error>