<div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading">
    <div class="div-full commit-procedure">
        <button [disabled]="!can_commit" mat-raised-button color="primary" (click)="commitPratica()">
            Inoltra pratica
        </button>
    </div>
    <p class="div-half"><b>Pratica N.: </b> {{data_procedure.number}}</p>
    <p class="div-half"><b>N. pratica: </b> {{data_procedure.protocol || '/'}}</p>
    <p class="div-half"><b>Stato: </b><status-procedures [status]="data_procedure.status"></status-procedures></p>
    <p class="div-half"><b>Marca da bollo: </b> {{data_procedure.stamp_number || '/'}}</p>
    <p class="div-half"><b>Tipologia: </b> {{data_procedure.type | procedureType}}</p>
    <p class="div-half"><b>Categoria: </b> {{data_procedure.category | categoryPipe}}</p>
    <p class="div-full"><b>Causale: </b> {{data_procedure.subject}}</p>
    <p class="div-half"><b>Data creazione: </b> {{data_procedure.created_at}}</p>
    <p class="div-half"><b>Ultimo aggiornamento: </b> {{data_procedure.updated_at}}</p>
    <p class="div-half"><b>Allegati pratica: </b> {{(data_procedure.all_mandatory_documents_uploaded | documentsUploaded)['tooltip']}}</p>
    <p class="div-half"><b>Prorogabile: </b> {{data_procedure.can_be_extended | canExtended}}</p>
</div>
<mat-tab-group #tabGroup *ngIf="!isLoading"
(selectedIndexChange)="changedTab($event)">
    <mat-tab label="Proprietario" *ngIf="data_procedure.owner">
        <view-owner 
            [data]="data_procedure.owner"
            [tipologie]="tipologie"
            [generi]="generi"
            [tipi_documento]="tipi_documento"
            [tipologie_contatto]="tipologie_contatto"
            [province]="province"
            [nazioni]="nazioni">
        </view-owner>
    </mat-tab>
    <mat-tab label="Tecnici" *ngIf="data_procedure.experts">
        <view-experts
            [experts]="data_procedure.experts"
            [tipologie]="tipologie"
            [generi]="generi"
            [tipologie_contatto]="tipologie_contatto"
            [titoli_professionali]="titoli_professionali"
            [province]="province"
            [modifiable]="can_modify"
            (delete_expert)="deleteExpert($event)"
            (add_expert)="addExpert($event)">
        </view-experts>
    </mat-tab>
    <mat-tab label="Delegato" *ngIf="data_procedure.administrator">
        <view-administrator 
            [data]="data_procedure.administrator"
            [generi]="generi"
            [titoli_professionali]="titoli_professionali"
            [tipologie_contatto]="tipologie_contatto"
            [province]="province">
        </view-administrator>
    </mat-tab>
    <mat-tab label="Ditta costruttrice" *ngIf="data_procedure.supplier">
        <view-supplier 
            [data]="data_procedure.supplier"
            [tipologie_contatto]="tipologie_contatto"
            [province]="province">
        </view-supplier>
    </mat-tab>
    <mat-tab label="Dettagli pratica" *ngIf="data_procedure.details">
        <ng-container viewDetails
            [type]="data_procedure.category"
            [data]="data_procedure.details"
            [pavimentazioni]="pavimentazioni"
            [modifiable]="can_modify"
            (update_details)="submitDetail($event)">
        </ng-container>
    </mat-tab>
    <mat-tab label="Documenti/allegati">
        <upload-documents *ngIf="can_modify"
            [tipologie_file]="tipologie_file"
            (upload_file)="uploadFile($event)">
        </upload-documents>
        <view-documents
            [documents]="documents_uploaded">
        </view-documents>
    </mat-tab>
    <mat-tab label="Proroghe">
        <view-extensions
            [can_extend]="data_procedure.can_be_extended && can_extend"
            [procedure]="data_procedure">
        </view-extensions>
    </mat-tab>
</mat-tab-group>
