.mat-dialog-content {
  max-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.container-map, .map{
    height: 100%;
    width: 100%;
    z-index: 2;
}

#panel_options {
  width: fit-content;;
  top: .5em;
  left: .5em;
  position: absolute;
}

#panel_options .features_button{
  text-align: left;
  min-width: 0px;
  width: 10em;
  height: 2.6em;
  display: block;
  background-color: rgb(245, 245, 245);
  border-radius: 0px;
}

.menu_panel{
  border-radius: 5px;
  font-size: larger;
  height: 56px;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.menu_panel button{
  min-width: 0px;
  width: 46px;
  padding: 0px;
}

#edit_panel {
  width: fit-content;
  top: 50%;
  left: 0.5em;
  position: absolute;
}

#zoom_panel {
  position: absolute;
  top: 6em;
  right: 0.5em;
}

#edit_panel button,
#zoom_panel button{
  min-width: 0px;
  width: 2.6em;
  height: 2.6em;
  padding: 0px;
  display: block;
  background-color: rgb(245, 245, 245);
  border-radius: 0px;
}

#edit_panel button:not(:last-child),
#zoom_panel button:not(:last-child),
#panel_options .features_button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

#edit_panel button:first-child,
#zoom_panel button:first-child,
#close_pane button:first-child,
#panel_options .features_button:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#edit_panel button:last-child,
#zoom_panel button:last-child,
#close_panel button:last-child,
#panel_options .features_button:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#close_panel {
  position: absolute;
  top: .5em;
  right: .5em;
}

// #save_panel {
//   position: absolute;
//   top: 1.5em;
//   right: .5em;
  // display: table;
  // text-align: center;
  // bottom: 0.5em;
  // width: fit-content;
  // left: 45%;
  // button {
  //   display: table-cell;
  //   vertical-align: bottom;
  // }
// }

#save_panel button,
#close_panel button,
#layers_panel button {
  min-width: 0px;
  width: 2.6em;
  height: 2.6em;
  padding: 0px;
  display: block;
  background-color: rgb(245, 245, 245);
}

#layers_panel {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}

.wms_layers mat-checkbox,
.base_layers mat-radio-button{
  display: block;
}

.wms_layers mat-checkbox {
  margin-left: 1em;
}

fa-icon{
  font-size: large;
}



// .map:-webkit-full-screen {
//   height: 100%;
//   margin: 0;
// }
// .map:-ms-fullscreen {
//   height: 100%;
// }
// .map:fullscreen {
//   height: 100%;
// }

.fullscreen:-webkit-full-screen {
  height: 100%;
  margin: 0;
}
.fullscreen:-ms-fullscreen {
  height: 100%;
}

.fullscreen:fullscreen {
  height: 100%;
}

.fullscreen {
  margin-bottom: 10px;
  width: 100%;
  height: 400px;
}

.ol-rotate {
  top: 3em;
}

