<mat-card *ngFor="let expert of experts; let j = index">
    <mat-card-title>Tecnico {{j + 1}}</mat-card-title>
    <view-expert 
        [data]="expert"
        [tipologie]="tipologie"
        [generi]="generi"
        [tipologie_contatto]="tipologie_contatto"
        [titoli_professionali]="titoli_professionali"
        [province]="province">
    </view-expert>
    <div class="div-full">
        <button class="button-login" mat-raised-button color="warn" (click)="delete(expert.id)">
            <mat-icon>delete</mat-icon>
            Elimina
        </button>
    </div>
</mat-card>