<div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>
<div class="div-full margin-top">
    <button *ngIf="!createExpert && modifiable" class="button-login" mat-raised-button color="primary" (click)="newExpert()">
        <mat-icon>add</mat-icon>
        Nuovo
    </button>
    <button *ngIf="createExpert && modifiable" class="button-login" mat-raised-button color="warn" (click)="newExpert()">
        <mat-icon>close</mat-icon>
        Annulla
    </button>
</div>
<ng-container *ngIf="createExpert">
    <mat-card>
        <mat-card-title>Nuovo tecnico</mat-card-title>
        <expert
            [form]="expert_form"
            [tipologie]="tipologie"
            [generi]="generi"
            [tipologie_contatto]="tipologie_contatto"
            [titoli_professionali]="titoli_professionali"
            [province]="province">
        </expert>
    </mat-card>
</ng-container>
<div  *ngIf="createExpert && modifiable" class="div-full">
    <button class="button-login" mat-raised-button color="warn" (click)="newExpert()">
        <mat-icon>close</mat-icon>
        Annulla
    </button>
    <button class="button-login" mat-raised-button color="primary" (click)="addExpert()">
        Invia
    </button>
</div>
<ng-container *ngIf="!createExpert">
    <mat-card *ngFor="let expert of experts; let j = index">
        <mat-card-title>Tecnico {{j + 1}}</mat-card-title>
        <view-expert 
            [data]="expert"
            [tipologie]="tipologie"
            [generi]="generi"
            [tipologie_contatto]="tipologie_contatto"
            [titoli_professionali]="titoli_professionali"
            [province]="province">
        </view-expert>
        <div class="div-full" *ngIf="modifiable && experts.length > 1">
            <button class="button-login" mat-raised-button color="warn" (click)="delete(expert.id)">
                <mat-icon>delete</mat-icon>
                Elimina
            </button>
        </div>
    </mat-card>
</ng-container>