<mat-expansion-panel [disabled]="!form.enabled" [formGroup]="form" class="referente-group" [expanded]="form.enabled">
    <mat-expansion-panel-header>
        <mat-panel-title>
          Tecnici 
        </mat-panel-title>
        <mat-panel-description>
          Compilare con i dati anagrafici dei tecnici
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card class="array-list" *ngFor="let expert of formExperts.controls; let j = index;" [formGroupName]="j">
        <mat-card-title *ngIf="j > 0" >Tecnico {{j + 1}}</mat-card-title>
        <mat-card-title *ngIf="j == 0">Tecnico</mat-card-title>
        <expert
            [form]="expert"
            [tipologie]="tipologie"
            [generi]="generi"
            [tipologie_contatto]="tipologie_contatto"
            [titoli_professionali]="titoli_professionali"
            [province]="province"
            [nazioni]="nazioni"
            >
        </expert>
        <button *ngIf="formExperts.controls.length > 1" class="button-delete" mat-mini-fab color="warn" (click)="removeItem(formExperts, j);"><mat-icon>close</mat-icon></button>
    </mat-card>
    <div class="div-full">
        <button class="button-add" mat-raised-button color="primary" (click)="addExpert(formExperts);">Aggiungi</button>
    </div>
</mat-expansion-panel>
