<mat-expansion-panel [disabled]="!form.enabled" [formGroup]="form" class="referente-group" [expanded]="form.enabled">
    <mat-expansion-panel-header>
        <mat-panel-title>
          Tecnici 
        </mat-panel-title>
        <mat-panel-description>
          Compilare con i dati anagrafici dei tecnici
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card class="array-list" *ngFor="let expert of formExperts.controls; let j = index;" [formGroupName]="j">
        <mat-card-title>Tecnico {{j+1}}</mat-card-title>
        <!-- <mat-form-field class="div-half" appearance="outline">
            <mat-label>Tipologia</mat-label>
            <mat-select formControlName="type" (selectionChange)="changedTipologiaEsperto(formExperts.controls[j], $event)">
                <mat-option>Nessuna</mat-option>
                <mat-option *ngFor="let tipologia of tipologie" [value]="tipologia.value">
                    {{tipologia.name}}
                </mat-option>
            </mat-select>
            <mat-error>{{getErrorMessage(formExperts.controls[j].get('type'))}}</mat-error>
        </mat-form-field>
        <mat-form-field class="div-half" appearance="outline">
            <mat-label>Genere</mat-label>
            <mat-select formControlName="gender">
                <mat-option>----</mat-option>
                <mat-option *ngFor="let gender of generi" [value]="gender.value">
                    {{gender.name}}
                </mat-option>
            </mat-select>
            <mat-error>{{getErrorMessage(formExperts.controls[j].get('gender'))}}</mat-error>
        </mat-form-field>
        <mat-form-field class="div-half" appearance="outline">
            <mat-label>Cognome</mat-label>
            <input formControlName="last_name" matInput type="text">
            <mat-error>{{getErrorMessage(formExperts.controls[j].get('last_name'))}}</mat-error>
        </mat-form-field>
        <mat-form-field class="div-half" appearance="outline">
            <mat-label>Nome</mat-label>
            <input formControlName="first_name" matInput type="text">
            <mat-error>{{getErrorMessage(formExperts.controls[j].get('first_name'))}}</mat-error>
        </mat-form-field>
        <mat-form-field class="div-half" appearance="outline">
            <mat-label>Codice fiscale</mat-label>
            <input formControlName="fiscal_code" matInput type="text">
            <mat-error>{{getErrorMessage(formExperts.controls[j].get('fiscal_code'))}}</mat-error>
        </mat-form-field>
        <mat-form-field class="div-half" appearance="outline">
            <mat-label>Titolo professionale</mat-label>
            <mat-select formControlName="professional_title">
                <mat-option>----</mat-option>
                <mat-option *ngFor="let titolo of titoli_professionali" [value]="titolo">
                    {{titolo | titlecase}}
                </mat-option>
            </mat-select>
            <mat-error>{{getErrorMessage(formExperts.controls[j].get('professional_title'))}}</mat-error>
        </mat-form-field>
        <mat-form-field class="div-half" appearance="outline">
            <mat-label>Partita IVA</mat-label>
            <input formControlName="vat" matInput type="text">
            <mat-error>{{getErrorMessage(formExperts.controls[j].get('vat'))}}</mat-error>
        </mat-form-field>
        <mat-form-field class="div-half" appearance="outline">
            <mat-label>Ragione sociale</mat-label>
            <input matInput type="text" formControlName="name" >
            <mat-error>{{getErrorMessage(formExperts.controls[j].get('name'))}}</mat-error>
        </mat-form-field>
        <ng-container formGroupName="address">
            <mat-form-field class="div-two-thirds" appearance="outline">
                <mat-label>Indirizzo</mat-label>
                <input formControlName="street_name" matInput type="text">
                <mat-error>{{getErrorMessage(formExperts.controls[j].get('address').get('street_name'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-third" appearance="outline">
                <mat-label>Cap</mat-label>
                <input formControlName="postcode" matInput type="number">
                <mat-error>{{getErrorMessage(formExperts.controls[j].get('address').get('postcode'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Provincia</mat-label>
                <mat-select formControlName="county" (selectionChange)="onChangeProvince(j+'/address/county', j+'/address/city')">
                    <mat-option>----</mat-option>
                    <mat-option *ngFor="let provincia of province" [value]="provincia.code">
                        {{provincia.name}}
                    </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(formExperts.controls[j].get('address').get('county'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Comune</mat-label>
                <mat-select formControlName="city" [disabled]="checkValidation([j+'/address/county'])">
                    <mat-option>----</mat-option>
                    <mat-option *ngFor="let comune of comuni[toCamelCase(j+'/address/city')] || []" [value]="comune.code">
                        {{comune.name}}
                    </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(formExperts.controls[j].get('address').get('city'))}}</mat-error>
            </mat-form-field>
        </ng-container>
        <mat-expansion-panel [disabled]="!getArray(j+'/contacts').enabled" formArrayName="contacts" [expanded]="getArray(j+'/contacts').enabled && getArray(j+'/contacts').controls.length > 0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Contatti 
                </mat-panel-title>
                <mat-panel-description>
                  Lista contatti
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card class="array-list" *ngFor="let contatto of getArray(j+'/contacts').controls; let i = index;" [formGroupName]="i">
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="type">
                        <mat-option>Nessuna</mat-option>
                        <mat-option *ngFor="let type of tipologie_contatto" [value]="type.value">
                            {{type.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{getErrorMessage(getArray(j+'/contacts').controls[i].get('type'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Nome referente</mat-label>
                    <input formControlName="name" matInput type="text">
                    <mat-error>{{getErrorMessage(getArray(j+'/contacts').controls[i].get('name'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Telefono</mat-label>
                    <input formControlName="phone" matInput type="text">
                    <mat-error>{{getErrorMessage(getArray(j+'/contacts').controls[i].get('phone'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput type="email">
                    <mat-error>{{getErrorMessage(getArray(j+'/contacts').controls[i].get('email'))}}</mat-error>
                </mat-form-field>
                <button class="button-delete" mat-mini-fab color="warn" (click)="removeItem(getArray(j+'/contacts'), i);"><mat-icon>close</mat-icon></button>
            </mat-card>
            <div class="div-full">
                <button class="button-add" mat-raised-button color="primary" (click)="addContatto(formExperts.controls[j].get('contacts'));">Aggiungi</button>
            </div>
        </mat-expansion-panel>
        <mat-form-field class="div-half" appearance="outline">
            <mat-label>Telefono</mat-label>
            <input formControlName="phone" matInput type="text">
            <mat-error>{{getErrorMessage(formExperts.controls[j].get('phone'))}}</mat-error>
        </mat-form-field>
        <mat-form-field class="div-half" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="email">
            <mat-error>{{getErrorMessage(formExperts.controls[j].get('email'))}}</mat-error>
        </mat-form-field>
        <mat-error>{{getErrorMessage(formExperts.controls[j])}}</mat-error> -->
        <expert
            [form]="expert"
            [tipologie]="tipologie"
            [generi]="generi"
            [tipologie_contatto]="tipologie_contatto"
            [titoli_professionali]="titoli_professionali"
            [province]="province">
        </expert>
        <button *ngIf="formExperts.controls.length > 1" class="button-delete" mat-mini-fab color="warn" (click)="removeItem(formExperts, j);"><mat-icon>close</mat-icon></button>
    </mat-card>
    <div class="div-full">
        <button class="button-add" mat-raised-button color="primary" (click)="addExpert(formExperts);">Aggiungi</button>
    </div>
</mat-expansion-panel>
