* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
/* css form login, user, registrazione */
.div-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: nowrap;
    vertical-align: middle;
}

.button-login{
    margin-left: 4px !important;
}

.div-buttons span {
    margin-top: auto;
    margin-bottom: auto;
}

.div-buttons mat-icon, .error-form mat-icon{
    font-size: 16px;
    height: 16px;
    width: 16px;
    vertical-align: text-bottom;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

@media only screen and (max-width: 410) {
    .example-fill-remaining-space {
        flex: 0;
    }

    .div-buttons{
        flex-direction: column !important;
    }
}

/* css form login, user, registrazione */

mat-card {
    margin-bottom: 1em;
}

.div-checkbox{
    margin-bottom: 1em;
}

mat-radio-group.ng-invalid .mat-radio-outer-circle {
    border-color: rgb(244, 67, 54);
}

mat-checkbox.ng-invalid .mat-checkbox-frame {
    border-color: rgb(244, 67, 54);
}

mat-expansion-panel.ng-invalid {
    border-left: solid 3px red;
}

mat-card.ng-invalid {
    border: solid 2px red;
}

mat-expansion-panel.ng-valid{
    border-left: solid 3px green;
}

mat-radio-button{
    margin-left: 1em;
}

.upload-button .mat-raised-button {
    background-color: #3f51b5;
    color: white;
}

.mat-form-field, .div-checkbox, .div-radio-group,
 .div-button, .padding-div, .list-element {
    padding-left: 4px;
    padding-right: 4px;
}

.div-radio-group{
    margin: .25em 0;
}

.div-radio-group mat-radio-button{
    margin-bottom: .25em;
    margin-top: .25em;
}

.vartical-radiobutton{
    display: flex;
    flex-direction: column;
}

.inner-div{
    margin-left: 1em;
}

.text-right input{
    text-align: right;
}

.right-align{
    text-align: right;
}

.paragraph-text-suffix{
    width: fit-content;
}

.mat-form-field-suffix{
    top: auto !important;
}

.mat-form-field-prefix{
    margin-right: 0.3em;
    top: auto !important
}

.paragraph-text-prefix{
    width: fit-content;
}

/* Inizio gestione dimensione dei campi */
.div-full{
    width: 100%;
    display: inline-block;
}

.div-half{
    width: 50%;
    display: inline-block;
}

.div-two-thirds{
    width: 66%;
    display: inline-block;
}

.div-a-third{
    width: 33.33%;
    display: inline-block;
}

.div-a-quarter{
    width: 25%;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .div-full{
        width: 100%;
        display: inline-block;
    }
    
    .div-half{
        width: 100%;
        display: inline-block;
    }

    .div-two-thirds{
        width: 100%;
        display: inline-block;
    }
    
    .div-a-third{
        width: 100%;
        display: inline-block;
    }
    .div-a-quarter{
        width: 50%;
        display: inline-block;
    }
}


/* Fine gestione dimensione dei campi */

@media only screen and (max-width: 600px) {
    .example-fill-remaining-space {
        flex: 0;
    }

    .div-buttons{
        flex-direction: column !important;
    }
}