<div class="container">
  <mat-toolbar color="primary" class="toolbar main-menu">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span routerLink="" class="header_container">
      <span class="municipality__squared">
        <img src="../assets/img/stemma.png" alt="">
      </span>
      <span class="municipality__name">{{title}}</span>
    </span>
    
    <span class="example-fill-remaining-space"></span>
    <button *ngIf="isUserLoggedIn==false" mat-button (click)="login()">
      <mat-icon>account_circle</mat-icon>
      Accedi
    </button>
    <button  *ngIf="isUserLoggedIn" mat-button [matMenuTriggerFor]="menu">Benvenuto {{username}}</button>
    <mat-menu #menu="matMenu">
      <button *ngIf="isUserLoggedIn" color="primary" mat-button (click)="logout($event)">
        <mat-icon>account_circle</mat-icon>
        Esci
      </button>
    </mat-menu>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [opened]="mobileQuery.matches ? false : true" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches">
      <mat-nav-list>
        <mat-list-item (click)="mobileQuery.matches ? snav.toggle() : null" routerLink="">
            <h4 matLine>Home</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 matSubheader>Pratiche</h3>
          <mat-list-item (click)="mobileQuery.matches ? snav.toggle() : null" routerLink="nuova-pratica">
            <h4 matLine>Nuova</h4>
          </mat-list-item>
          <mat-list-item (click)="mobileQuery.matches ? snav.toggle() : null" routerLink="ricerca-pratiche">
            <h4 matLine>Ricerca</h4>
          </mat-list-item>
          <mat-list-item *ngIf="isUserLoggedIn" (click)="mobileQuery.matches ? snav.toggle() : null" routerLink="mie-pratiche">
            <h4 matLine>Le mie pratiche</h4>
          </mat-list-item>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="div-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
