.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
.is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}
h1.app-name {
    margin-left: 8px;
    cursor: pointer;
    outline: 0;
}
.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.div-content{
    padding: 1em;
}

.is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.municipality__squared {
    width: 55px;
    height: 55px;
    line-height: 80px;
    outline: none;
}
.municipality__squared img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    vertical-align: middle;
}

.municipality__name {
    padding-left: 10px;
    font-size: 32px;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .municipality__squared {
        width: 40px;
        height: 40px;
        line-height: 60px;
    }
    .municipality__squared img{
        width: 40px;
        height: 40px;
        line-height: 60px;
    }
    .municipality__name {
        padding-left: 10px;
        font-size: 24px;
    }
}

@media only screen and (max-width: 440px) {
    .municipality__name {
        padding-left: 10px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 360px) {
    .municipality__squared {
        display: none;
    }

    .municipality__name {
        padding-left: 0px;
    }
}