<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 routerLink="" class="app-name">{{title}}</h1>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches">
      <mat-nav-list>
        <mat-list-item (click)="snav.toggle()" routerLink="">
            <h4 matLine>Home</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 matSubheader>Pratiche</h3>
          <mat-list-item (click)="snav.toggle()" routerLink="nuova-pratica">
            <h4 matLine>Nuova Pratica</h4>
          </mat-list-item>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
