<div class="overlay" *ngIf="loading">
  <div class="center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Specificare il tipo di pratica</ng-template>
      <div class="div-radio-group">
        <mat-label>Selezionare il tipo di pratica:</mat-label>
        <mat-radio-group formControlName="tipo_pratica" class="vertical-radiobutton">
          <ng-container *ngFor="let option of options">
            <mat-radio-button [value]="option.value">{{option.name}}</mat-radio-button>
          </ng-container>
        </mat-radio-group>
        <mat-error>{{getErrorMessage(firstFormGroup.get('tipo_pratica'))}}</mat-error>
      </div>
      <div>
        <!-- <button mat-button matStepperNext>Avanti</button> -->
        <button mat-button (click)="submit()">Conferma</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>