<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step *ngIf="isUserLoggedIn == false">
    <ng-template matStepLabel>Accesso al sistema</ng-template>
    <mat-label>E' richiesto l'accesso al portale per inviare le pratiche, puoi farlo cliccando </mat-label><a href="/login"><button class="button-login" mat-raised-button color="primary">qui</button></a>
    <p>Se non vuoi farlo ora, sarà necessario effettuarlo prima di inoltrare la pratica.</p>
    <div>
      <button mat-button matStepperNext>Avanti</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Selezionare la tipologia di pratica</ng-template>
      <div class="div-radio-group">
        <mat-label>Selezionare il tipo di pratica:</mat-label>
        <mat-radio-group formControlName="tipo_pratica" class="vartical-radiobutton">
          <ng-container *ngFor="let option of options">
            <mat-radio-button [value]="option.value">{{option.name}}</mat-radio-button>
          </ng-container>
        </mat-radio-group>
        <mat-error>{{getErrorMessage(firstFormGroup.get('tipo_pratica'))}}</mat-error>
      </div>
      <div>
        <button mat-button [disabled]="(!firstFormGroup.valid)" (click)="submit()">Avanti</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>