<div class="container">
    <form [formGroup]="form">
        <mat-expansion-panel formGroupName="referente" class="referente-group" expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Referente 
                </mat-panel-title>
                <mat-panel-description>
                  Compilare con i dati anagrafici del referente
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Tipologia</mat-label>
                <mat-select formControlName="tipo_persona" (selectionChange)="changedTipologia(form.get('referente'), $event)">
                    <mat-option>Nessuna</mat-option>
                    <mat-option *ngFor="let tipologia of tipologie" [value]="tipologia.value">
                        {{tipologia.name}}
                    </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(form.get('referente').get('tipo_persona'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Sesso</mat-label>
                <mat-select formControlName="genere">
                    <mat-option>Nessuna</mat-option>
                    <mat-option *ngFor="let genere of generi" [value]="genere.value">
                        {{genere.name}}
                    </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(form.get('referente').get('genere'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Cognome</mat-label>
                <input formControlName="cognome" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('referente').get('cognome'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Nome</mat-label>
                <input formControlName="nome" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('referente').get('nome'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Codice fiscale</mat-label>
                <input formControlName="codicefiscale" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('referente').get('codicefiscale'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Partita IVA</mat-label>
                <input formControlName="partitaiva" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('referente').get('partitaiva'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-full" appearance="outline">
                <mat-label>Ragione sociale</mat-label>
                <input matInput type="text" formControlName="ragionesociale" >
                <mat-error>{{getErrorMessage(form.get('referente').get('ragionesociale'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Stato di nascita</mat-label>
                <input formControlName="nascita_stato" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('referente').get('nascita_stato'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Comune di nascita</mat-label>
                <input formControlName="nascita_comune" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('referente').get('nascita_comune'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Provincia di nascita</mat-label>
                <input formControlName="nascita_provincia" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('referente').get('nascita_provincia'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Data di nascita</mat-label>
                <input formControlName="nascita_data" matInput [matDatepicker]="picker_referente">
                <mat-datepicker-toggle matSuffix [for]="picker_referente"></mat-datepicker-toggle>
                <mat-datepicker #picker_referente></mat-datepicker>
                <mat-error>{{getErrorMessage(form.get('referente').get('nascita_data'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Comune</mat-label>
                <input formControlName="comune_residenza" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('referente').get('comune_residenza'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Provincia</mat-label>
                <input formControlName="provincia_residenza" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('referente').get('provincia_residenza'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Indirizzo</mat-label>
                <input formControlName="indirizzo_residenza" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('referente').get('indirizzo_residenza'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-quarter" appearance="outline">
                <mat-label>N.</mat-label>
                <input formControlName="civico_residenza" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('referente').get('civico_residenza'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-quarter" appearance="outline">
                <mat-label>Cap</mat-label>
                <input formControlName="cap_residenza" matInput type="number">
                <mat-error>{{getErrorMessage(form.get('referente').get('cap_residenza'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input formControlName="telefono" matInput type="number" (change)="check(form.get('referente'), 'telefono','cellulare')">
                <mat-error>{{getErrorMessage(form.get('referente').get('telefono'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Cellulare</mat-label>
                <input formControlName="cellulare" matInput type="number" (change)="check(form.get('referente'), 'cellulare','telefono')">
                <mat-error>{{getErrorMessage(form.get('referente').get('cellulare'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email">
                <mat-error>{{getErrorMessage(form.get('referente').get('email'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>PEC</mat-label>
                <input formControlName="pec" matInput type="email">
                <mat-error>{{getErrorMessage(form.get('referente').get('pec'))}}</mat-error>
            </mat-form-field>
            <mat-error>{{getErrorMessage(form.get('referente'))}}</mat-error>
        </mat-expansion-panel>
        <!-- <mat-expansion-panel formGroupName="tecnico" class="tecnico-group" expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Tecnico
                </mat-panel-title>
                <mat-panel-description>
                    Compilare con i dati anagrafici del tecnico che assiste la pratica
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input formControlName="nome" matInput type="text">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Cognome</mat-label>
                <input formControlName="cognome" matInput type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Cofice fiscale</mat-label>
                <input formControlName="codicefiscale" matInput type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Ragione sociale</mat-label>
                <input matInput type="text" formControlName="ragione_denominazione_sociale" >
            </mat-form-field>
            <mat-form-field>
                <mat-label>Luogo di nascita</mat-label>
                <input formControlName="luogo_nascita" matInput type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Provincia di nascita</mat-label>
                <input formControlName="provincia_nascita" matInput type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Sede legale</mat-label>
                <input formControlName="sede_legale" matInput type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Partita IVA</mat-label>
                <input formControlName="p_iva" matInput type="number">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Documento d'identità</mat-label>
                <input formControlName="documento_identita" matInput type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Data di nascita</mat-label>
                <input formControlName="data_nascita" matInput [matDatepicker]="picker_tecnico">
                <mat-datepicker-toggle matSuffix [for]="picker_tecnico"></mat-datepicker-toggle>
                <mat-datepicker #picker_tecnico></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Luogo di residenza</mat-label>
                <input formControlName="luogo_residenza" matInput type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Provincia di residenza</mat-label>
                <input formControlName="provincia_residenza" matInput type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Indirizzo di residenza</mat-label>
                <input formControlName="indirizzo_residenza" matInput type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Numero di residenza</mat-label>
                <input formControlName="numero_residenza" matInput type="text">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Cap di residenza</mat-label>
                <input formControlName="cap_residenza" matInput type="number">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Telefono</mat-label>
                <input formControlName="telefono" matInput type="number">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email">
            </mat-form-field>
        </mat-expansion-panel> -->
        <mat-expansion-panel formGroupName="dati_pratica" expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Dati pratica
                </mat-panel-title>
                <mat-panel-description>
                Compila i dati per l'autorizzazione
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="padding-div">Inoltra la presente istanza al fine di essere autorizzato alla rottura del suolo pubblico di cui all'oggetto per</p>
            <mat-form-field class="div-full" appearance="outline">
                <mat-label>Motivo scavi</mat-label>
                <input matInput formControlName="motivo" type="text">
                <mat-error>{{getErrorMessage(form.get('dati_pratica').get('motivo'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-full" appearance="outline">
                <mat-label>Descrizione lavori</mat-label>
                <textarea matInput formControlName="descrizione" type="text"></textarea>
                <mat-error>{{getErrorMessage(form.get('dati_pratica').get('descrizione'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-third" appearance="outline">
                <mat-label>Inizio lavori</mat-label>
                <input formControlName="inizio_lavori" matInput [matDatepicker]="inizio_lavori" (dateChange)="differenceDate(form.get('dati_pratica'), 'fine_lavori', 'inizio_lavori', 'durata_lavori')">
                <mat-datepicker-toggle matSuffix [for]="inizio_lavori"></mat-datepicker-toggle>
                <mat-datepicker #inizio_lavori></mat-datepicker>
                <mat-error>{{getErrorMessage(form.get('dati_pratica').get('inizio_lavori'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-third" appearance="outline">
                <mat-label>Fine lavori</mat-label>
                <input formControlName="fine_lavori" [min]="calculateMinDate(form.get('dati_pratica'), 'inizio_lavori')" matInput [matDatepicker]="fine_lavori" (dateChange)="differenceDate(form.get('dati_pratica'), 'fine_lavori', 'inizio_lavori', 'durata_lavori')">
                <mat-datepicker-toggle matSuffix [for]="fine_lavori"></mat-datepicker-toggle>
                <mat-datepicker #fine_lavori></mat-datepicker>
                <mat-error>{{getErrorMessage(form.get('dati_pratica').get('fine_lavori'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-third text-right" appearance="outline">
                <mat-label>Durata lavori</mat-label>
                <input matInput formControlName="durata_lavori" type="number" readonly="true">
                <span matSuffix>gg</span>
                <mat-error>{{getErrorMessage(form.get('dati_pratica').get('durata_lavori'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-third text-right" appearance="outline">
                <mat-label>Estensione degli scavi</mat-label>
                <input matInput formControlName="area_scavi" type="number" (change)="multiplicationPolizza(form.get('dati_pratica'), 'area_scavi', 'pavimentazione', 'valore_polizza')">
                <span matSuffix>m<sup>2</sup></span>
                <mat-error>{{getErrorMessage(form.get('dati_pratica').get('area_scavi'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-third" appearance="outline">
                <mat-label>Tipologia pavimentazione</mat-label>
                <mat-select formControlName="pavimentazione" (selectionChange)="multiplicationPolizza(form.get('dati_pratica'), 'area_scavi', 'pavimentazione', 'valore_polizza')">
                    <mat-option>Nessuna</mat-option>
                    <mat-option *ngFor="let pavimentazione of pavimentazioni" [value]="pavimentazione.value">
                        {{pavimentazione.name}} - € {{pavimentazione.price}} m<sup>2</sup>
                    </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(form.get('dati_pratica').get('pavimentazione'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-third text-right" appearance="outline">
                <mat-label>Estensione del cantiere</mat-label>
                <input matInput formControlName="area_cantiere" type="number">
                <span matSuffix>m<sup>2</sup></span>
                <mat-error>{{getErrorMessage(form.get('dati_pratica').get('area_cantiere'))}}</mat-error>
            </mat-form-field>
            <div class="div-half padding-div">Il richiedente si impegna a costituire, a titolo di cauzione, una polizza fidejussoria per l’importo di:</div>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Valore polizza</mat-label>
                <input matInput formControlName="valore_polizza" type="number">
                <span matPrefix>€</span>
                <mat-error>{{getErrorMessage(form.get('dati_pratica').get('valore_polizza'))}}</mat-error>
            </mat-form-field>
            <div class="div-a-third padding-div">Informazioni catastali:</div>
            <mat-form-field class="div-a-third" appearance="outline">
                <mat-label>Foglio</mat-label>
                <input matInput formControlName="foglio_catasto" type="number">
                <mat-error>{{getErrorMessage(form.get('dati_pratica').get('foglio_catasto'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-third" appearance="outline">
                <mat-label>Particella</mat-label>
                <input matInput formControlName="particella_catasto" type="number">
                <mat-error>{{getErrorMessage(form.get('dati_pratica').get('particella_catasto'))}}</mat-error>
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel formGroupName="allegati_pratica" expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Allegati pratica
                </mat-panel-title>
                <mat-panel-description>
                Carica gli allegati necessari
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card formGroupName="marca_bollo" class="div-full" appearance="outline">
                <h2>Marca da bollo</h2>
                <mat-form-field class="div-a-third" appearance="outline">
                    <mat-label>Codice marca da bollo</mat-label>
                    <input matInput formControlName="codice_bollo" type="number">
                    <mat-error>{{getErrorMessage(form.get('allegati_pratica').get('marca_bollo').get('codice_bollo'))}}</mat-error>
                </mat-form-field>
                <div class="div-a-third padding-div">Caricare il file appropriato:</div>
                <div class="div-a-third right-align">
                    <label class="upload-button" for="file_bollo">
                        <div class="mat-raised-button">
                            Aggiungi file
                        </div>  
                        <input id="file_bollo" (change)="uploadFile($event, form.get('allegati_pratica').get('marca_bollo'), 'file_bollo')" hidden formControlName="file" type="file" accept=".pdf">
                    </label>
                </div>
                <mat-nav-list class="div-full list-element" *ngIf="file_bollo.length > 0">
                    <ng-container  *ngFor="let file of file_bollo">
                        <mat-list-item >
                            <p matLine >{{ file.name }}</p>
                            <button mat-icon-button (click)="removeFile(file, form.get('allegati_pratica').get('marca_bollo'), 'file_bollo')">
                               <mat-icon>cancel</mat-icon>
                            </button>
                            <mat-divider></mat-divider>
                         </mat-list-item>
                    </ng-container>
                </mat-nav-list>
                <mat-error>{{getErrorMessage(form.get('allegati_pratica').get('marca_bollo'))}}</mat-error>
            </mat-card>
            <mat-card formGroupName="planimetria1" class="div-full" appearance="outline">
                <h2>Planimetria 1/500</h2>
                <div class="div-half">Caricare il file appropriato:</div>
                <div class="div-half right-align">
                    <label class="upload-button" for="planimetria1">
                        <div class="mat-raised-button">
                            Aggiungi file
                        </div>  
                        <input id="planimetria1" (change)="uploadFile($event, form.get('allegati_pratica').get('planimetria1'), 'planimetria1')" formControlName="file" hidden type="file" accept=".pdf">
                    </label>
                </div>
                <mat-nav-list class="div-full list-element" *ngIf="planimetria1.length > 0">
                    <ng-container  *ngFor="let file of planimetria1">
                        <mat-list-item >
                            <p matLine >{{ file.name }}</p>
                            <button mat-icon-button (click)="removeFile(file, form.get('allegati_pratica').get('planimetria1'), 'planimetria1')">
                               <mat-icon>cancel</mat-icon>
                            </button>
                            <mat-divider></mat-divider>
                         </mat-list-item>
                    </ng-container>
                </mat-nav-list>
                <mat-error>{{getErrorMessage(form.get('allegati_pratica').get('planimetria1'))}}</mat-error>
            </mat-card>
            <mat-card formGroupName="planimetria2" class="div-full" appearance="outline">
                <h2>Planimetria 1/100</h2>
                <div class="div-half">Caricare il file appropriato:</div>
                <div class="div-half right-align">
                    <label class="upload-button" for="planimetria2">
                        <div class="mat-raised-button">
                            Aggiungi file
                        </div>  
                        <input id="planimetria2" (change)="uploadFile($event, form.get('allegati_pratica').get('planimetria2'), 'planimetria2')" formControlName="file" hidden type="file" accept=".pdf">
                    </label>
                </div>
                <mat-nav-list class="div-full list-element" *ngIf="planimetria2.length > 0">
                    <ng-container  *ngFor="let file of planimetria2">
                        <mat-list-item >
                            <p matLine >{{ file.name }}</p>
                            <button mat-icon-button (click)="removeFile(file, form.get('allegati_pratica').get('planimetria2'), 'planimetria2')">
                               <mat-icon>cancel</mat-icon>
                            </button>
                            <mat-divider></mat-divider>
                         </mat-list-item>
                    </ng-container>
                </mat-nav-list>
                <mat-error>{{getErrorMessage(form.get('allegati_pratica').get('planimetria2'))}}</mat-error>
            </mat-card>
            <mat-card formGroupName="polizza_fidejussoria" class="div-full" appearance="outline">
                <h2>Polizza fidejussoria</h2>
                <div class="div-half">Caricare il file appropriato:</div>
                <div class="div-half right-align">
                    <label class="upload-button" for="polizza_fidejussoria">
                        <div class="mat-raised-button">
                            Aggiungi file
                        </div>  
                        <input id="polizza_fidejussoria" (change)="uploadFile($event, form.get('allegati_pratica').get('polizza_fidejussoria'), 'polizza_fidejussoria')" formControlName="file" hidden type="file" accept=".pdf">
                    </label>
                </div>
                <mat-nav-list class="div-full list-element" *ngIf="polizza_fidejussoria.length > 0">
                    <ng-container  *ngFor="let file of polizza_fidejussoria">
                        <mat-list-item >
                            <p matLine >{{ file.name }}</p>
                            <button mat-icon-button (click)="removeFile(file, form.get('allegati_pratica').get('polizza_fidejussoria'), 'polizza_fidejussoria')">
                               <mat-icon>cancel</mat-icon>
                            </button>
                            <mat-divider></mat-divider>
                         </mat-list-item>
                    </ng-container>
                </mat-nav-list>
                <mat-error>{{getErrorMessage(form.get('allegati_pratica').get('polizza_fidejussoria'))}}</mat-error>
            </mat-card>
            
            <!-- <mat-card class="div-full" appearance="outline">
                <mat-label>Planimetria 1/500</mat-label>
                <input formControlName="planimetria1" type="file" accept=".pdf">
                <mat-error>{{getErrorMessage(form.get('allegati_pratica').get('planimetria1'))}}</mat-error>
            </mat-card>
            <mat-card class="div-full" appearance="outline">
                <mat-label>Planimetria 1/100</mat-label>
                <input formControlName="planimetria2" type="file" accept=".pdf">
                <mat-error>{{getErrorMessage(form.get('allegati_pratica').get('planimetria2'))}}</mat-error>
            </mat-card>
            <mat-card class="div-full" appearance="outline">
                <mat-label>Polizza fidejussoria</mat-label>
                <input formControlName="polizza_fidejussoria" type="file" accept=".pdf">
                <mat-error>{{getErrorMessage(form.get('allegati_pratica').get('polizza_fidejussoria'))}}</mat-error>
            </mat-card> -->
        </mat-expansion-panel>
        <button class="button-login" mat-raised-button color="primary" (click)="save($event)">Salva</button>
        <button class="button-login" mat-raised-button color="primary" (click)="submit()">Convalida</button>
    </form>
</div>