
    <form [formGroup]="form">
        <mat-expansion-panel formGroupName="owner" class="referente-group" expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Proprietario 
                </mat-panel-title>
                <mat-panel-description>
                  Compilare con i dati anagrafici del proprietario
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Tipologia</mat-label>
                <mat-select formControlName="type" (selectionChange)="changedTipologiaPersona(form.get('owner'), $event)">
                    <mat-option>Nessuna</mat-option>
                    <mat-option *ngFor="let tipologia of tipologie" [value]="tipologia.value">
                        {{tipologia.name}}
                    </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(form.get('owner').get('type'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Sesso</mat-label>
                <mat-select formControlName="gender">
                    <mat-option>Nessuna</mat-option>
                    <mat-option *ngFor="let gender of generi" [value]="gender.value">
                        {{gender.name}}
                    </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(form.get('owner').get('gender'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Cognome</mat-label>
                <input formControlName="last_name" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('owner').get('last_name'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Nome</mat-label>
                <input formControlName="first_name" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('owner').get('first_name'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Codice fiscale</mat-label>
                <input formControlName="fiscal_code" matInput type="text">
                <button [disabled]="form.get(['owner', 'fiscal_code']).invalid" mat-icon-button matSuffix
                (click)="calculateValueFromFiscalCode(form.get('owner'))"
                matTooltip="Autocompila i campi">
                    <mat-icon>post_add</mat-icon>
                </button>
                <mat-error>{{getErrorMessage(form.get('owner').get('fiscal_code'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Partita IVA</mat-label>
                <input formControlName="vat" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('owner').get('vat'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-full" appearance="outline">
                <mat-label>Ragione sociale</mat-label>
                <input matInput type="text" formControlName="name" >
                <mat-error>{{getErrorMessage(form.get('owner').get('name'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Tipo documento</mat-label>
                <mat-select formControlName="document_type">
                    <mat-option>Nessuna</mat-option>
                    <mat-option *ngFor="let documento of tipi_documento" [value]="documento.value">
                        {{documento.name}}
                    </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(form.get('owner').get('document_type'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Numero documento</mat-label>
                <input formControlName="document_number" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('owner').get('document_number'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-third" appearance="outline">
                <mat-label>Comune di nascita (o Stato estero)</mat-label>
                <input formControlName="birthplace" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('owner').get('birthplace'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-third" appearance="outline">
                <mat-label>Provincia di nascita</mat-label>
                <input formControlName="county_of_birth" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('owner').get('county_of_birth'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-third" appearance="outline">
                <mat-label>Data di nascita</mat-label>
                <input formControlName="birthday" matInput [matDatepicker]="picker_owner">
                <mat-datepicker-toggle matSuffix [for]="picker_owner"></mat-datepicker-toggle>
                <mat-datepicker #picker_owner></mat-datepicker>
                <mat-error>{{getErrorMessage(form.get('owner').get('birthday'))}}</mat-error>
            </mat-form-field>
            <ng-container formGroupName="address">
                <mat-form-field class="div-two-thirds" appearance="outline">
                    <mat-label>Indirizzo</mat-label>
                    <input formControlName="street_name" matInput type="text">
                    <mat-error>{{getErrorMessage(form.get('owner').get('address').get('street_name'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-a-third" appearance="outline">
                    <mat-label>Cap</mat-label>
                    <input formControlName="postcode" matInput type="number">
                    <mat-error>{{getErrorMessage(form.get('owner').get('address').get('postcode'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Provincia</mat-label>
                    <input formControlName="county" matInput type="text">
                    <mat-error>{{getErrorMessage(form.get('owner').get('address').get('county'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Comune</mat-label>
                    <input formControlName="city" matInput type="text">
                    <mat-error>{{getErrorMessage(form.get('owner').get('address').get('city'))}}</mat-error>
                </mat-form-field>
            </ng-container>
            <mat-expansion-panel [disabled]="!formContactsOwner.enabled" formArrayName="contacts" [expanded]="formContactsOwner.enabled && formContactsOwner.controls.length > 0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      Contatti 
                    </mat-panel-title>
                    <mat-panel-description>
                      Lista contatti
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card class="array-list" *ngFor="let contatto of formContactsOwner.controls; let i = index;" [formGroupName]="i">
                    <mat-form-field class="div-half" appearance="outline">
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="type">
                            <mat-option>Nessuna</mat-option>
                            <mat-option *ngFor="let type of tipologie_contatto" [value]="type.value">
                                {{type.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{getErrorMessage(formContactsOwner.controls[i].get('type'))}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="div-half" appearance="outline">
                        <mat-label>Nome referente</mat-label>
                        <input formControlName="name" matInput type="text">
                        <mat-error>{{getErrorMessage(formContactsOwner.controls[i].get('type'))}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="div-half" appearance="outline">
                        <mat-label>Telefono</mat-label>
                        <input formControlName="phone" matInput type="number">
                        <mat-error>{{getErrorMessage(formContactsOwner.controls[i].get('type'))}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="div-half" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput type="email">
                        <mat-error>{{getErrorMessage(formContactsOwner.controls[i].get('type'))}}</mat-error>
                    </mat-form-field>
                    <button class="button-delete" mat-mini-fab color="warn" (click)="removeItem(formContactsOwner, i);"><mat-icon>close</mat-icon></button>
                </mat-card>
                <div class="div-full">
                    <button class="button-add" mat-raised-button color="primary" (click)="addContatto(form.get('owner').get('contacts'));">Aggiungi</button>
                </div>
            </mat-expansion-panel>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input formControlName="phone" matInput type="number" (change)="check(form.get('owner'), 'phone','cellular')">
                <mat-error>{{getErrorMessage(form.get('owner').get('phone'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Cellulare</mat-label>
                <input formControlName="cellular" matInput type="number" (change)="check(form.get('owner'), 'cellular','phone')">
                <mat-error>{{getErrorMessage(form.get('owner').get('cellular'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email">
                <mat-error>{{getErrorMessage(form.get('owner').get('email'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>PEC</mat-label>
                <input formControlName="pec" matInput type="email">
                <mat-error>{{getErrorMessage(form.get('owner').get('pec'))}}</mat-error>
            </mat-form-field>
            <mat-error>{{getErrorMessage(form.get('owner'))}}</mat-error>
        </mat-expansion-panel>
        <div class="div-checkbox">
            <mat-checkbox formControlName="delegated"
            (change)="changeDelegated($event, form.get('experts'))" >Sottomissione per conto terzi</mat-checkbox>
            <mat-error>{{getErrorMessage(form.get('delegated'))}}</mat-error>
        </div>
        <!-- <mat-expansion-panel [disabled]="!form.get('expert').enabled" formGroupName="expert" class="referente-group" [expanded]="form.get('expert').enabled">
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Tecnico 
                </mat-panel-title>
                <mat-panel-description>
                  Compilare con i dati anagrafici del tecnico
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Tipologia</mat-label>
                <mat-select formControlName="type" (selectionChange)="changedTipologiaEsperto(form.get('expert'), $event)">
                    <mat-option>Nessuna</mat-option>
                    <mat-option *ngFor="let tipologia of tipologie" [value]="tipologia.value">
                        {{tipologia.name}}
                    </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(form.get('expert').get('type'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Sesso</mat-label>
                <mat-select formControlName="gender">
                    <mat-option>Nessuna</mat-option>
                    <mat-option *ngFor="let gender of generi" [value]="gender.value">
                        {{gender.name}}
                    </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(form.get('expert').get('gender'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Cognome</mat-label>
                <input formControlName="last_name" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('expert').get('last_name'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Nome</mat-label>
                <input formControlName="first_name" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('expert').get('first_name'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Codice fiscale</mat-label>
                <input formControlName="fiscal_code" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('expert').get('fiscal_code'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Partita IVA</mat-label>
                <input formControlName="vat" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('expert').get('vat'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-full" appearance="outline">
                <mat-label>Ragione sociale</mat-label>
                <input matInput type="text" formControlName="name" >
                <mat-error>{{getErrorMessage(form.get('expert').get('name'))}}</mat-error>
            </mat-form-field>
            <ng-container formGroupName="address">
                <mat-form-field class="div-two-thirds" appearance="outline">
                    <mat-label>Indirizzo</mat-label>
                    <input formControlName="street_name" matInput type="text">
                    <mat-error>{{getErrorMessage(form.get('expert').get('address').get('street_name'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-a-third" appearance="outline">
                    <mat-label>Cap</mat-label>
                    <input formControlName="postcode" matInput type="number">
                    <mat-error>{{getErrorMessage(form.get('expert').get('address').get('postcode'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Provincia</mat-label>
                    <input formControlName="county" matInput type="text">
                    <mat-error>{{getErrorMessage(form.get('expert').get('address').get('county'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Comune</mat-label>
                    <input formControlName="city" matInput type="text">
                    <mat-error>{{getErrorMessage(form.get('expert').get('address').get('city'))}}</mat-error>
                </mat-form-field>
            </ng-container>
            <mat-expansion-panel [disabled]="!formContactsExpert.enabled" formArrayName="contacts" [expanded]="formContactsExpert.enabled && formContactsExpert.controls.length > 0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      Contatti 
                    </mat-panel-title>
                    <mat-panel-description>
                      Lista contatti
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card class="array-list" *ngFor="let contatto of formContactsExpert.controls; let i = index;" [formGroupName]="i">
                    <mat-form-field class="div-half" appearance="outline">
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="type">
                            <mat-option>Nessuna</mat-option>
                            <mat-option *ngFor="let type of tipologie_contatto" [value]="type.value">
                                {{type.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{getErrorMessage(formContactsExpert.controls[i].get('type'))}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="div-half" appearance="outline">
                        <mat-label>Nome referente</mat-label>
                        <input formControlName="name" matInput type="text">
                        <mat-error>{{getErrorMessage(formContactsExpert.controls[i].get('type'))}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="div-half" appearance="outline">
                        <mat-label>Telefono</mat-label>
                        <input formControlName="phone" matInput type="number">
                        <mat-error>{{getErrorMessage(formContactsExpert.controls[i].get('type'))}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="div-half" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput type="email">
                        <mat-error>{{getErrorMessage(formContactsExpert.controls[i].get('type'))}}</mat-error>
                    </mat-form-field>
                    <button class="button-delete" mat-mini-fab color="warn" (click)="removeItem(formContactsExpert, i);"><mat-icon>close</mat-icon></button>
                </mat-card>
                <div class="div-full">
                    <button class="button-add" mat-raised-button color="primary" (click)="addContatto(form.get('expert').get('contacts'));">Aggiungi</button>
                </div>
            </mat-expansion-panel>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input formControlName="phone" matInput type="number" (change)="check(form.get('expert'), 'phone','cellular')">
                <mat-error>{{getErrorMessage(form.get('expert').get('phone'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Cellulare</mat-label>
                <input formControlName="cellular" matInput type="number" (change)="check(form.get('expert'), 'cellular','phone')">
                <mat-error>{{getErrorMessage(form.get('expert').get('cellular'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email">
                <mat-error>{{getErrorMessage(form.get('expert').get('email'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>PEC</mat-label>
                <input formControlName="pec" matInput type="email">
                <mat-error>{{getErrorMessage(form.get('expert').get('pec'))}}</mat-error>
            </mat-form-field>
            <mat-error>{{getErrorMessage(form.get('expert'))}}</mat-error>
        </mat-expansion-panel> -->
        <mat-expansion-panel [disabled]="!form.get('experts').enabled" formArrayName="experts" class="referente-group" [expanded]="form.get('experts').enabled">
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Tecnici 
                </mat-panel-title>
                <mat-panel-description>
                  Compilare con i dati anagrafici dei tecnici
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card class="array-list" *ngFor="let expert of formExperts.controls; let j = index;" [formGroupName]="j">
                <mat-card-title>Tecnico {{j+1}}</mat-card-title>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Tipologia</mat-label>
                    <mat-select formControlName="type" (selectionChange)="changedTipologiaEsperto(formExperts.controls[j], $event)">
                        <mat-option>Nessuna</mat-option>
                        <mat-option *ngFor="let tipologia of tipologie" [value]="tipologia.value">
                            {{tipologia.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{getErrorMessage(formExperts.controls[j].get('type'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Sesso</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option>Nessuna</mat-option>
                        <mat-option *ngFor="let gender of generi" [value]="gender.value">
                            {{gender.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{getErrorMessage(formExperts.controls[j].get('gender'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Cognome</mat-label>
                    <input formControlName="last_name" matInput type="text">
                    <mat-error>{{getErrorMessage(formExperts.controls[j].get('last_name'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input formControlName="first_name" matInput type="text">
                    <mat-error>{{getErrorMessage(formExperts.controls[j].get('first_name'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Codice fiscale</mat-label>
                    <input formControlName="fiscal_code" matInput type="text">
                    <mat-error>{{getErrorMessage(formExperts.controls[j].get('fiscal_code'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Partita IVA</mat-label>
                    <input formControlName="vat" matInput type="text">
                    <mat-error>{{getErrorMessage(formExperts.controls[j].get('vat'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-full" appearance="outline">
                    <mat-label>Ragione sociale</mat-label>
                    <input matInput type="text" formControlName="name" >
                    <mat-error>{{getErrorMessage(formExperts.controls[j].get('name'))}}</mat-error>
                </mat-form-field>
                <ng-container formGroupName="address">
                    <mat-form-field class="div-two-thirds" appearance="outline">
                        <mat-label>Indirizzo</mat-label>
                        <input formControlName="street_name" matInput type="text">
                        <mat-error>{{getErrorMessage(formExperts.controls[j].get('address').get('street_name'))}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="div-a-third" appearance="outline">
                        <mat-label>Cap</mat-label>
                        <input formControlName="postcode" matInput type="number">
                        <mat-error>{{getErrorMessage(formExperts.controls[j].get('address').get('postcode'))}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="div-half" appearance="outline">
                        <mat-label>Provincia</mat-label>
                        <input formControlName="county" matInput type="text">
                        <mat-error>{{getErrorMessage(formExperts.controls[j].get('address').get('county'))}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="div-half" appearance="outline">
                        <mat-label>Comune</mat-label>
                        <input formControlName="city" matInput type="text">
                        <mat-error>{{getErrorMessage(formExperts.controls[j].get('address').get('city'))}}</mat-error>
                    </mat-form-field>
                </ng-container>
                <mat-expansion-panel [disabled]="!getArray('experts/'+j+'/contacts').enabled" formArrayName="contacts" [expanded]="getArray('experts/'+j+'/contacts').enabled && getArray('experts/'+j+'/contacts').controls.length > 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                          Contatti 
                        </mat-panel-title>
                        <mat-panel-description>
                          Lista contatti
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-card class="array-list" *ngFor="let contatto of getArray('experts/'+j+'/contacts').controls; let i = index;" [formGroupName]="i">
                        <mat-form-field class="div-half" appearance="outline">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="type">
                                <mat-option>Nessuna</mat-option>
                                <mat-option *ngFor="let type of tipologie_contatto" [value]="type.value">
                                    {{type.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error>{{getErrorMessage(getArray('experts/'+j+'/contacts').controls[i].get('type'))}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="div-half" appearance="outline">
                            <mat-label>Nome referente</mat-label>
                            <input formControlName="name" matInput type="text">
                            <mat-error>{{getErrorMessage(getArray('experts/'+j+'/contacts').controls[i].get('type'))}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="div-half" appearance="outline">
                            <mat-label>Telefono</mat-label>
                            <input formControlName="phone" matInput type="number">
                            <mat-error>{{getErrorMessage(getArray('experts/'+j+'/contacts').controls[i].get('type'))}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="div-half" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput type="email">
                            <mat-error>{{getErrorMessage(getArray('experts/'+j+'/contacts').controls[i].get('type'))}}</mat-error>
                        </mat-form-field>
                        <button class="button-delete" mat-mini-fab color="warn" (click)="removeItem(getArray('experts/'+j+'/contacts'), i);"><mat-icon>close</mat-icon></button>
                    </mat-card>
                    <div class="div-full">
                        <button class="button-add" mat-raised-button color="primary" (click)="addContatto(formExperts.controls[j].get('contacts'));">Aggiungi</button>
                    </div>
                </mat-expansion-panel>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Telefono</mat-label>
                    <input formControlName="phone" matInput type="number" (change)="check(formExperts.controls[j], 'phone','cellular')">
                    <mat-error>{{getErrorMessage(formExperts.controls[j].get('phone'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Cellulare</mat-label>
                    <input formControlName="cellular" matInput type="number" (change)="check(formExperts.controls[j], 'cellular','phone')">
                    <mat-error>{{getErrorMessage(formExperts.controls[j].get('cellular'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput type="email">
                    <mat-error>{{getErrorMessage(formExperts.controls[j].get('email'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>PEC</mat-label>
                    <input formControlName="pec" matInput type="email">
                    <mat-error>{{getErrorMessage(formExperts.controls[j].get('pec'))}}</mat-error>
                </mat-form-field>
                <mat-error>{{getErrorMessage(formExperts.controls[j])}}</mat-error>
                <button class="button-delete" mat-mini-fab color="warn" (click)="removeItem(formExperts, j);"><mat-icon>close</mat-icon></button>
            </mat-card>
            <div class="div-full">
                <button class="button-add" mat-raised-button color="primary" (click)="addExpert(formExperts);">Aggiungi</button>
            </div>
        </mat-expansion-panel>
        <div class="div-radio-group">
            <mat-label>In qualità di:</mat-label>
            <mat-radio-group formControlName="qualification" class="vartical-radiobutton"
            (change)="changeQualification($event, form.get('business_administrator'))">
              <ng-container *ngFor="let qualification of qualifiche">
                <mat-radio-button [value]="qualification.value">{{qualification.name}}</mat-radio-button>
              </ng-container>
            </mat-radio-group>
            <mat-error>{{getErrorMessage(form.get('qualification'))}}</mat-error>
        </div>
        <mat-expansion-panel [disabled]="!form.get('business_administrator').enabled" formGroupName="business_administrator" class="referente-group" [expanded]="form.get('business_administrator').enabled">
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Amm./Rapp.
                </mat-panel-title>
                <mat-panel-description>
                  Compilare con i dati anagrafici dell'amministratore o rappresentante
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Cognome</mat-label>
                <input formControlName="last_name" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('business_administrator').get('last_name'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Nome</mat-label>
                <input formControlName="first_name" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('business_administrator').get('first_name'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Codice fiscale</mat-label>
                <input formControlName="fiscal_code" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('business_administrator').get('fiscal_code'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Partita IVA</mat-label>
                <input formControlName="vat" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('business_administrator').get('vat'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Titolo professionale</mat-label>
                <mat-select formControlName="professional_title">
                    <mat-option>Nessuna</mat-option>
                    <mat-option *ngFor="let titolo of titoli_professionali" [value]="titolo">
                        {{titolo | titlecase}}
                    </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(form.get('business_administrator').get('professional_title'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Sesso</mat-label>
                <mat-select formControlName="gender">
                    <mat-option>Nessuna</mat-option>
                    <mat-option *ngFor="let gender of generi" [value]="gender.value">
                        {{gender.name}}
                    </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(form.get('business_administrator').get('gender'))}}</mat-error>
            </mat-form-field>
            <ng-container formGroupName="address">
                <mat-form-field class="div-two-thirds" appearance="outline">
                    <mat-label>Indirizzo</mat-label>
                    <input formControlName="street_name" matInput type="text">
                    <mat-error>{{getErrorMessage(form.get('business_administrator').get('address').get('street_name'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-a-third" appearance="outline">
                    <mat-label>Cap</mat-label>
                    <input formControlName="postcode" matInput type="number">
                    <mat-error>{{getErrorMessage(form.get('business_administrator').get('address').get('postcode'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Provincia</mat-label>
                    <input formControlName="county" matInput type="text">
                    <mat-error>{{getErrorMessage(form.get('business_administrator').get('address').get('county'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Comune</mat-label>
                    <input formControlName="city" matInput type="text">
                    <mat-error>{{getErrorMessage(form.get('business_administrator').get('address').get('city'))}}</mat-error>
                </mat-form-field>
            </ng-container>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input formControlName="phone" matInput type="number">
                <mat-error>{{getErrorMessage(form.get('business_administrator').get('phone'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email">
                <mat-error>{{getErrorMessage(form.get('business_administrator').get('email'))}}</mat-error>
            </mat-form-field>
            <mat-error>{{getErrorMessage(form.get('business_administrator'))}}</mat-error>
        </mat-expansion-panel>
        <div class="div-radio-group">
            <mat-label>Esecuzione dei lavori:</mat-label>
            <mat-radio-group formControlName="work_supplier" class="vartical-radiobutton"
            (change)="changeEsecutore($event, form.get('supplier_business'))">
              <ng-container *ngFor="let esecutore of esecutori">
                <mat-radio-button [value]="esecutore.value">{{esecutore.name}}</mat-radio-button>
              </ng-container>
            </mat-radio-group>
            <mat-error>{{getErrorMessage(form.get('work_supplier'))}}</mat-error>
        </div>
        <mat-expansion-panel [disabled]="!form.get('supplier_business').enabled" formGroupName="supplier_business" class="referente-group" [expanded]="form.get('supplier_business').enabled">
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Impresa
                </mat-panel-title>
                <mat-panel-description>
                  Informazioni dell'impresa adetta ai lavori
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Ragione sociale</mat-label>
                <input matInput type="text" formControlName="name" >
                <mat-error>{{getErrorMessage(form.get('supplier_business').get('name'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Partita IVA</mat-label>
                <input formControlName="vat" matInput type="text">
                <mat-error>{{getErrorMessage(form.get('supplier_business').get('vat'))}}</mat-error>
            </mat-form-field>
            <ng-container formGroupName="address">
                <mat-form-field class="div-two-thirds" appearance="outline">
                    <mat-label>Indirizzo</mat-label>
                    <input formControlName="street_name" matInput type="text">
                    <mat-error>{{getErrorMessage(form.get('supplier_business').get('address').get('street_name'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-a-third" appearance="outline">
                    <mat-label>Cap</mat-label>
                    <input formControlName="postcode" matInput type="number">
                    <mat-error>{{getErrorMessage(form.get('supplier_business').get('address').get('postcode'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Provincia</mat-label>
                    <input formControlName="county" matInput type="text">
                    <mat-error>{{getErrorMessage(form.get('supplier_business').get('address').get('county'))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Comune</mat-label>
                    <input formControlName="city" matInput type="text">
                    <mat-error>{{getErrorMessage(form.get('supplier_business').get('address').get('city'))}}</mat-error>
                </mat-form-field>
            </ng-container>
            <mat-expansion-panel formArrayName="contacts" [expanded]="formContactsDitta.controls.length > 0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      Contatti 
                    </mat-panel-title>
                    <mat-panel-description>
                      Lista contatti
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card class="array-list" *ngFor="let contatto of formContactsDitta.controls; let i = index;" [formGroupName]="i">
                    <mat-form-field class="div-half" appearance="outline">
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="type">
                            <mat-option>Nessuna</mat-option>
                            <mat-option *ngFor="let type of tipologie_contatto" [value]="type.value">
                                {{type.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{getErrorMessage(formContactsDitta.controls[i].get('type'))}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="div-half" appearance="outline">
                        <mat-label>Nome referente</mat-label>
                        <input formControlName="name" matInput type="text">
                        <mat-error>{{getErrorMessage(formContactsDitta.controls[i].get('type'))}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="div-half" appearance="outline">
                        <mat-label>Telefono</mat-label>
                        <input formControlName="phone" matInput type="number">
                        <mat-error>{{getErrorMessage(formContactsDitta.controls[i].get('type'))}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="div-half" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput type="email">
                        <mat-error>{{getErrorMessage(formContactsDitta.controls[i].get('type'))}}</mat-error>
                    </mat-form-field>
                    <button class="button-delete" mat-mini-fab color="warn" (click)="removeItem(formContactsDitta, i);"><mat-icon>close</mat-icon></button>
                </mat-card>
                <div class="div-full">
                    <button class="button-add" mat-raised-button color="primary" (click)="addContatto(form.get('supplier_business').get('contacts'));">Aggiungi</button>
                </div>
            </mat-expansion-panel>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input formControlName="phone" matInput type="number" (change)="check(form.get('supplier_business'), 'phone','cellular')">
                <mat-error>{{getErrorMessage(form.get('supplier_business').get('phone'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-half" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email">
                <mat-error>{{getErrorMessage(form.get('supplier_business').get('email'))}}</mat-error>
            </mat-form-field>
            <mat-error>{{getErrorMessage(form.get('supplier_business'))}}</mat-error>
        </mat-expansion-panel>
        <mat-expansion-panel formGroupName="details" expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Dati pratica
                </mat-panel-title>
                <mat-panel-description>
                Compila i dati per l'autorizzazione
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="padding-div">Inoltra la presente istanza al fine di essere autorizzato alla rottura del suolo pubblico di cui all'oggetto per</p>
            <mat-form-field class="div-full" appearance="outline">
                <mat-label>Motivo scavi</mat-label>
                <input matInput formControlName="reason" type="text">
                <mat-error>{{getErrorMessage(form.get('details').get('reason'))}}</mat-error>
            </mat-form-field>
            <ng-container formGroupName="description">
                <mat-form-field class="div-full" appearance="outline">
                    <mat-label>Causale</mat-label>
                    <input matInput formControlName="motive" type="text">
                    <mat-error>{{getErrorMessage(form.get(['details','description','motive']))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-a-third" appearance="outline">
                    <mat-label>Tipo di posa</mat-label>
                    <input matInput formControlName="laying_type" type="text">
                    <mat-hint>Tubazioni, polifore, etc.</mat-hint>
                    <mat-error>{{getErrorMessage(form.get(['details','description','laying_type']))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-a-third text-right" appearance="outline">
                    <mat-label>Diametro</mat-label>
                    <input matInput formControlName="diameter" type="number">
                    <span matSuffix>cm</span>
                    <mat-hint>Diametro espresso in cm</mat-hint>
                    <mat-error>{{getErrorMessage(form.get(['details','description','diameter']))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-a-third text-right" appearance="outline">
                    <mat-label>Lunghezza</mat-label>
                    <input matInput formControlName="length" type="number">
                    <span matSuffix>m</span>
                    <mat-hint>Lunghezza espressa in metri</mat-hint>
                    <mat-error>{{getErrorMessage(form.get(['details','description','length']))}}</mat-error>
                </mat-form-field>
                <mat-form-field class="div-full" appearance="outline">
                    <mat-label>Note</mat-label>
                    <textarea matInput formControlName="notes" type="text"></textarea>
                    <mat-hint>Note aggiuntive opzionali</mat-hint>
                    <mat-error>{{getErrorMessage(form.get(['details','description','notes']))}}</mat-error>
                </mat-form-field>
            </ng-container>
            <mat-form-field class="div-a-third" appearance="outline">
                <mat-label>Inizio lavori</mat-label>
                <input formControlName="start_date" [min]="minDate()" matInput [matDatepicker]="start_date" (dateChange)="differenceDate(form.get('details'), 'end_date', 'start_date', 'duration')">
                <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                <mat-datepicker #start_date></mat-datepicker>
                <mat-error>{{getErrorMessage(form.get('details').get('start_date'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-third" appearance="outline">
                <mat-label>Fine lavori</mat-label>
                <input formControlName="end_date" [min]="calculateMinDate(form.get('details'), 'start_date')" matInput [matDatepicker]="end_date" (dateChange)="differenceDate(form.get('details'), 'end_date', 'start_date', 'duration')">
                <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
                <mat-datepicker #end_date></mat-datepicker>
                <mat-error>{{getErrorMessage(form.get('details').get('end_date'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-third text-right" appearance="outline">
                <mat-label>Durata lavori</mat-label>
                <input matInput formControlName="duration" type="number" readonly="true">
                <span matSuffix>gg</span>
                <mat-error>{{getErrorMessage(form.get('details').get('duration'))}}</mat-error>
            </mat-form-field>
            <ng-container formGroupName="excavation_details">
                <mat-form-field class="div-a-third text-right" appearance="outline">
                    <mat-label>Estensione degli scavi</mat-label>
                    <input matInput formControlName="area_number" type="number" (change)="multiplicationPolizza(form.get('details'), 'excavation_details/area_number', 'flooring_type', 'insurance/amount')">
                    <span matSuffix>m<sup>2</sup></span>
                    <mat-error>{{getErrorMessage(form.get('details').get('excavation_details').get('area_number'))}}</mat-error>
                </mat-form-field>
            </ng-container>
            <mat-form-field class="div-a-third" appearance="outline">
                <mat-label>Tipologia pavimentazione</mat-label>
                <mat-select formControlName="flooring_type" (selectionChange)="multiplicationPolizza(form.get('details'), 'excavation_details/area_number', 'flooring_type', 'insurance/amount')">
                    <mat-option>Nessuna</mat-option>
                    <mat-option *ngFor="let flooring_type of pavimentazioni" [value]="flooring_type.value">
                        {{flooring_type.name}} - € {{flooring_type.price}} m<sup>2</sup>
                    </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(form.get('details').get('flooring_type'))}}</mat-error>
            </mat-form-field>
            <ng-container formGroupName="building_site">
                <mat-form-field class="div-a-third text-right" appearance="outline">
                    <mat-label>Estensione del cantiere</mat-label>
                    <input matInput formControlName="area_number" type="number">
                    <span matSuffix>m<sup>2</sup></span>
                    <mat-error>{{getErrorMessage(form.get('details').get('building_site').get('area_number'))}}</mat-error>
                </mat-form-field>
            </ng-container>
            <div class="div-full padding-div">Il richiedente si impegna a costituire, a titolo di cauzione, una polizza fidejussoria</div>
            <ng-container formGroupName="insurance">
                <div class="div-checkbox div-half">
                    <mat-checkbox formControlName="surety">Conferma la sottoscrizione della poliza</mat-checkbox>
                    <mat-error>{{getErrorMessage(form.get('details').get('insurance').get('surety'))}}</mat-error>
                </div>
                <mat-form-field class="div-half" appearance="outline">
                    <mat-label>Valore polizza</mat-label>
                    <input matInput formControlName="amount" type="number">
                    <span matPrefix>€</span>
                    <mat-error>{{getErrorMessage(form.get('details').get('insurance').get('amount'))}}</mat-error>
                </mat-form-field>
            </ng-container>
            <div class="div-a-third padding-div">Informazioni catastali:</div>
            <mat-form-field class="div-a-third" appearance="outline">
                <mat-label>Foglio</mat-label>
                <input matInput formControlName="foglio_catasto" type="number">
                <mat-error>{{getErrorMessage(form.get('details').get('foglio_catasto'))}}</mat-error>
            </mat-form-field>
            <mat-form-field class="div-a-third" appearance="outline">
                <mat-label>Particella</mat-label>
                <input matInput formControlName="particella_catasto" type="number">
                <mat-error>{{getErrorMessage(form.get('details').get('particella_catasto'))}}</mat-error>
            </mat-form-field>
            <button class="button-login" mat-raised-button color="primary" (click)="openMap()">Apri mappa</button>
        </mat-expansion-panel>
        <!-- <mat-expansion-panel formGroupName="allegati_pratica" expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Allegati pratica
                </mat-panel-title>
                <mat-panel-description>
                Carica gli allegati necessari
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card formGroupName="marca_bollo" class="div-full" appearance="outline">
                <h2>Marca da bollo</h2>
                <mat-form-field class="div-a-third" appearance="outline">
                    <mat-label>Codice marca da bollo</mat-label>
                    <input matInput formControlName="codice_bollo" type="number">
                    <mat-error>{{getErrorMessage(form.get('allegati_pratica').get('marca_bollo').get('codice_bollo'))}}</mat-error>
                </mat-form-field>
                <div class="div-a-third padding-div">Caricare il file appropriato:</div>
                <div class="div-a-third right-align">
                    <label class="upload-button" for="file_bollo">
                        <div class="mat-raised-button">
                            Aggiungi file
                        </div>  
                        <input id="file_bollo" (change)="uploadFile($event, form.get('allegati_pratica').get('marca_bollo'), 'file_bollo')" hidden formControlName="file" type="file" accept=".pdf">
                    </label>
                </div>
                <mat-nav-list class="div-full list-element" *ngIf="file_bollo.length > 0">
                    <ng-container  *ngFor="let file of file_bollo">
                        <mat-list-item >
                            <p matLine >{{ file.name }}</p>
                            <button mat-icon-button (click)="removeFile(file, form.get('allegati_pratica').get('marca_bollo'), 'file_bollo')">
                               <mat-icon>cancel</mat-icon>
                            </button>
                            <mat-divider></mat-divider>
                         </mat-list-item>
                    </ng-container>
                </mat-nav-list>
                <mat-error>{{getErrorMessage(form.get('allegati_pratica').get('marca_bollo'))}}</mat-error>
            </mat-card>
            <mat-card formGroupName="planimetria1" class="div-full" appearance="outline">
                <h2>Planimetria 1/500</h2>
                <div class="div-half">Caricare il file appropriato:</div>
                <div class="div-half right-align">
                    <label class="upload-button" for="planimetria1">
                        <div class="mat-raised-button">
                            Aggiungi file
                        </div>  
                        <input id="planimetria1" (change)="uploadFile($event, form.get('allegati_pratica').get('planimetria1'), 'planimetria1')" formControlName="file" hidden type="file" accept=".pdf">
                    </label>
                </div>
                <mat-nav-list class="div-full list-element" *ngIf="planimetria1.length > 0">
                    <ng-container  *ngFor="let file of planimetria1">
                        <mat-list-item >
                            <p matLine >{{ file.name }}</p>
                            <button mat-icon-button (click)="removeFile(file, form.get('allegati_pratica').get('planimetria1'), 'planimetria1')">
                               <mat-icon>cancel</mat-icon>
                            </button>
                            <mat-divider></mat-divider>
                         </mat-list-item>
                    </ng-container>
                </mat-nav-list>
                <mat-error>{{getErrorMessage(form.get('allegati_pratica').get('planimetria1'))}}</mat-error>
            </mat-card>
            <mat-card formGroupName="planimetria2" class="div-full" appearance="outline">
                <h2>Planimetria 1/100</h2>
                <div class="div-half">Caricare il file appropriato:</div>
                <div class="div-half right-align">
                    <label class="upload-button" for="planimetria2">
                        <div class="mat-raised-button">
                            Aggiungi file
                        </div>  
                        <input id="planimetria2" (change)="uploadFile($event, form.get('allegati_pratica').get('planimetria2'), 'planimetria2')" formControlName="file" hidden type="file" accept=".pdf">
                    </label>
                </div>
                <mat-nav-list class="div-full list-element" *ngIf="planimetria2.length > 0">
                    <ng-container  *ngFor="let file of planimetria2">
                        <mat-list-item >
                            <p matLine >{{ file.name }}</p>
                            <button mat-icon-button (click)="removeFile(file, form.get('allegati_pratica').get('planimetria2'), 'planimetria2')">
                               <mat-icon>cancel</mat-icon>
                            </button>
                            <mat-divider></mat-divider>
                         </mat-list-item>
                    </ng-container>
                </mat-nav-list>
                <mat-error>{{getErrorMessage(form.get('allegati_pratica').get('planimetria2'))}}</mat-error>
            </mat-card>
            <mat-card formGroupName="polizza_fidejussoria" class="div-full" appearance="outline">
                <h2>Polizza fidejussoria</h2>
                <div class="div-half">Caricare il file appropriato:</div>
                <div class="div-half right-align">
                    <label class="upload-button" for="polizza_fidejussoria">
                        <div class="mat-raised-button">
                            Aggiungi file
                        </div>  
                        <input id="polizza_fidejussoria" (change)="uploadFile($event, form.get('allegati_pratica').get('polizza_fidejussoria'), 'polizza_fidejussoria')" formControlName="file" hidden type="file" accept=".pdf">
                    </label>
                </div>
                <mat-nav-list class="div-full list-element" *ngIf="polizza_fidejussoria.length > 0">
                    <ng-container  *ngFor="let file of polizza_fidejussoria">
                        <mat-list-item >
                            <p matLine >{{ file.name }}</p>
                            <button mat-icon-button (click)="removeFile(file, form.get('allegati_pratica').get('polizza_fidejussoria'), 'polizza_fidejussoria')">
                               <mat-icon>cancel</mat-icon>
                            </button>
                            <mat-divider></mat-divider>
                         </mat-list-item>
                    </ng-container>
                </mat-nav-list>
                <mat-error>{{getErrorMessage(form.get('allegati_pratica').get('polizza_fidejussoria'))}}</mat-error>
            </mat-card>
        </mat-expansion-panel> -->
        <button class="button-login" mat-raised-button color="primary" (click)="save($event)">Salva</button>
        <button class="button-login" mat-raised-button color="primary" (click)="submit()">Convalida</button>
    </form>