<mat-expansion-panel [formGroup]="form" expanded>
    <mat-expansion-panel-header>
        <mat-panel-title>
        Dati pratica
        </mat-panel-title>
        <mat-panel-description>
        Pratica di occupazione suolo a carattere edilizio
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Tipologia occupazione</mat-label>
        <mat-select formControlName="type" (selectionChange)="changeTipologia($event, ['end_date', 'total_duration'])">
            <mat-option>---</mat-option>
            <mat-option *ngFor="let tipologia of tipologie" [value]="tipologia.value">
                {{tipologia.name}}
            </mat-option>
        </mat-select>
        <mat-error>{{getErrorMessage(form.get('type'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-half" appearance="outline">
        <mat-label>Ubicazione</mat-label>
        <input matInput formControlName="address" type="text">
        <mat-hint>Indicare via e numero civico</mat-hint>
        <mat-error>{{getErrorMessage(form.get('address'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-a-third text-right" appearance="outline">
        <mat-label>Lunghezza</mat-label>
        <input matInput formControlName="length" type="number">
        <span matSuffix>m</span>
        <mat-hint>Lunghezza dell'occupazione espressa in metri</mat-hint>
        <mat-error>{{getErrorMessage(form.get('length'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-a-third text-right" appearance="outline">
        <mat-label>Larghezza</mat-label>
        <input matInput formControlName="width" type="number">
        <span matSuffix>m</span>
        <mat-hint>Larghezza dell'occupazione espressa in metri</mat-hint>
        <mat-error>{{getErrorMessage(form.get('width'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-a-third text-right" appearance="outline">
        <mat-label>Area</mat-label>
        <input matInput formControlName="total_square_meters" type="number">
        <span matSuffix>m<sup>2</sup></span>
        <mat-hint>Area dell'occupazione espressa in metri quadrati</mat-hint>
        <mat-error>{{getErrorMessage(form.get('total_square_meters'))}}</mat-error>
    </mat-form-field>
    <p class="padding-div">Occupazione per mezzo di:</p>
    <div class="div-checkbox">
        <mat-checkbox class="checkbox-margin" formControlName="tables">Tavoli</mat-checkbox>
        <mat-checkbox class="checkbox-margin" formControlName="umbrellas">Ombrelloni</mat-checkbox>
        <mat-checkbox class="checkbox-margin" formControlName="chairs">Sedie</mat-checkbox>
        <mat-checkbox class="checkbox-margin" formControlName="footboard">Pedana</mat-checkbox>
    </div>
    <div class="div-checkbox">
        <mat-checkbox class="checkbox-margin" formControlName="other"
            (change)="changeOther($event, form.get('other_description'))">
            Altro
        </mat-checkbox>
        <mat-error>{{getErrorMessage(form.get('other'))}}</mat-error>
    </div>
    <mat-form-field class="div-full" appearance="outline">
        <mat-label>Descrizione di altro</mat-label>
        <textarea matInput formControlName="other_description" type="text"></textarea>
        <mat-hint>Descrizione di altro tipo di occupazione</mat-hint>
        <mat-error>{{getErrorMessage(form.get('other_description'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-a-third" appearance="outline">
        <mat-label>Inizio occupazione</mat-label>
        <input formControlName="start_date" [min]="minDate()" matInput [matDatepicker]="start_date" (dateChange)="differenceDate(form, 'end_date', 'start_date', 'total_duration')">
        <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
        <mat-datepicker #start_date></mat-datepicker>
        <mat-error>{{getErrorMessage(form.get('start_date'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-a-third" appearance="outline">
        <mat-label>Fine occupazione</mat-label>
        <input formControlName="end_date" [min]="calculateMinDate(form, 'start_date')" matInput [matDatepicker]="end_date" (dateChange)="differenceDate(form, 'end_date', 'start_date', 'total_duration')">
        <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
        <mat-datepicker #end_date></mat-datepicker>
        <mat-error>{{getErrorMessage(form.get('end_date'))}}</mat-error>
    </mat-form-field>
    <mat-form-field class="div-a-third text-right" appearance="outline">
        <mat-label>Durata occupazione</mat-label>
        <input matInput formControlName="total_duration" type="number" readonly="true">
        <span matSuffix>gg</span>
        <mat-error>{{getErrorMessage(form.get('total_duration'))}}</mat-error>
    </mat-form-field>
</mat-expansion-panel>